{
  "env": {
    "dist": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "IE 10"]
          },
          "debug": false
        }]
      ]
     },
    "lib": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current",
            "react": "16.4.2",
            "react-native": "0.56",
            "electron": "2.0.6"
          },
          "debug": false
        }]
      ]
    }
  }
}
